.all-notes-seeker{
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.seeker-form{
  width: 100%;
  display: flex;
  gap: 1rem;
}
.seeker-form-input{
  border: 1px solid #000;
  border-radius: 5px;
  outline: none;
  width: 65%;
  height: 1.5rem;
  padding-left: 5px;
}
.seeker-form-button{
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seeker-mensage-error{
  height: 15px;
  color: #f00;
}